body {
    background-color:lightblue;
}

h1 {
    color:blue;
    text-align: center;
    
    text-all
}

h2 {
    color: blue;
    text-align: center;
}

ul{
    display: flex;
    gap: 10px;
    justify-content: center;
   

}

li{
    border: black 1px solid;
    padding: 5px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 100px;
}

main {
    text-align: center;
    color: blue;
}

p 
{
font-size: 32px;
text-align: center;
color: blue;

}

.copyright {
    font-size: 16px;

}